<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TSoapRequest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BD4B5CCE1CB0FB470091A0E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD4B5CE71CB0FB470091A0E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD4B5CF21CB0FB470091A0E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
